<h2 id="title">International Phone Input</h2>


{{intl-phone-input
  valueChanged=(action (mut phone))
  keyUpInput=(action (mut phoneKeyUp))
}}


<div class="demo-log">
  {{demo-block title="On Init"  value=phone}}
  {{demo-block title="On Change" value=phone}}
  {{demo-block title="On Key Up" value=phone}}
</div>