<h2 id="title">International Phone Input</h2>


{{intl-phone-input
  valueChanged=(action (mut phone))
  keyUpInput=(action (mut phoneKeyUp))
  parseOnInit=(action (mut phoneOnInit))

  country="US"
  phone="+1-207-555-0167"
}}


<div class="demo-log">
  {{demo-block title="On Init"  phone=phoneOnInit}}
  {{demo-block title="On Change" phone=phone}}
  {{demo-block title="On Key Up" phone=phoneKeyUp}}
</div>