<span class="ember-intl-phone-input__icon-flag icon-flag--{{country.countryLowerCase}}"></span>

<strong class="ember-intl-phone-input__option-name">{{country.name}}</strong>
<span class="ember-intl-phone-input__option-code">+ {{country.callingCode}}</span>

<em class="ember-intl-phone-input__option-iso">{{country.country}}</em>